body {
    background: #232323;
}
a {
    text-decoration: none;
}
.header{
    position: fixed;
    background: #444444;
    height: 8%;
    width: 100%;
    border: 4px solid #000000;
    top: 0%;
    left: 0%;
}
#findByHashtag {
    position: absolute;
    left: 45%;
    top: 0.5%;
    border: none;
    background-image: url('pictures/searcher_mark.png');
    background-repeat: no-repeat;
    background-position: 8px 5px;
    width: 20%;
    font-size: 87%;
    margin-top: 1%;
    padding-top: 0.3%;
    padding-bottom: 0.3%;
    padding-left: 30px;
    outline: none;
    box-sizing: border-box;
    border-radius: 10px;
}
h1 {
    font-family: segoe script;
    color: #FFFFFF;
    font-size: 145%;
    font-weight: bold;
    margin-left: 12%;
}
.avatar {
    position: absolute;
    border-radius: 50%;
    right: 24%;
    height: 90%;
    top: 1%;
}
.account {
    position: absolute;
    border: solid #aaaaaa; 
    background: #aaaaaa;
    border-radius: 0.5em; 
    padding-left: 0.5%;
    padding-top: 0.2%; 
    padding-bottom: 0.2%;
    width: 10%;
    font-size: 100%;
    font-weight: bold;
    color: #ffffff;
    right: 13%;
    top: 0.5%;
}
.main1 {
    position:fixed;
    background: #444444;
    height: 85%;
    width: 22%;
    border-left: 4px solid #000000;
    top: 9%;
    left: 12%;
}
p3 {
    font-size: 145%;
    color: #d6d6d6;
    margin-left: 5%;
}
.authorFilter {
    position: relative;
    margin-right: 1%;
}
.createdAtFilter {
    position: relative;
    margin-right: 1%;
}
.likesFilter {
    position: relative;
    margin-right: 1%;
}
.main1button {
    cursor: pointer;
    position: relative;
    border: solid #444444; 
    background: #444444;
    border-radius: 1em; 
    padding-top: 0.2%; 
    padding-bottom: 0.2%;
    text-align: center;
    width: 70%;
    left: 10%;
    margin-top: 2%;
}
.main1button:hover {
    background: #606060;
}
.tomain_button {
    cursor: pointer;
    position: relative;
    border: solid #444444; 
    background: #444444;
    border-radius: 1em; 
    padding-top: 0.2%; 
    padding-bottom: 0.2%;
    text-align: center;
    width: 70%;
    left: 10%;
    margin-top: 120%;
}
.tomain_button:hover {
    background: #606060;
}
.main2 {
    position:absolute;
    background: #444444;
    height: 800%;
    width: 53%;
    border-left: 4px solid #000000;
    border-right: 4px solid #000000;
    top: 9%;
    left: 34%;
}
.post {
    position: relative;
    background: #606060;
    border: solid #000000 1px;
    left: 25%;
    margin-top: 5.5%;
    width: 60%;
    height: 9%;
    visibility: hidden;
}
.pic {
    border-bottom: solid #000000 1px;
    width: 100%;
}
.nextPageButton {
    cursor: pointer;
    position: absolute;
    border: solid #444444;
    background: #444444;
    border-radius: 1em;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
    text-align: center;
    width: 35%;
    left: 60%;
    margin-top: 5.5%;
}
.nextPageButton:hover {
    background: #606060;
}
.pageCounter {
    position: absolute;
    border: solid #444444;
    background: #444444;
    text-align: center;
    width: 16%;
    left: 42%;
    margin-top: 5.5%;
}
.prevPageButton {
    cursor: pointer;
    position: absolute;
    border: solid #444444;
    background: #444444;
    border-radius: 1em;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
    text-align: center;
    width: 35%;
    left: 5%;
    margin-top: 5.5%;
}
.prevPageButton:hover {
    background: #606060;
}
.arrow {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
    width: 30px;
}
p2 {
    font-size: 120%;
    color: #d6d6d6;
}
p4 {
    font-size: 120%;
    color: #000000;
}
.author {
    position: absolute;
    border-bottom: solid #000000 1px; 
    border-right: solid #000000 1px;
    background: #606060;
    padding-left: 0.5%;
    width: 30%;
    font-size: 120%;
    color: #d6d6d6;
    bottom: 6%;
    left: 0%;
}
.name {
    position: absolute;
    border-bottom: solid #000000 1px; 
    background: #606060;
    padding-left: 0.5%;
    width: 68%;
    font-size: 120%;
    color: #d6d6d6;
    bottom: 6%;
    left: 31%;
}
.like {
    position: relative;
    cursor: pointer;
    margin-top: 6%;
    margin-left: 1%;
    width: 5%;
}
.likesCounter {
    font-size: 145%;
    position: relative;
    margin-left: 2%;
    bottom: 0.5%;
}
.about {
    position: absolute;
    background: #606060;
    padding-left: 0.5%;
    font-size: 120%;
    color: #d6d6d6;
    bottom: 0%;
    right: 2%;
}
.main3 {
    position:absolute;
    background: #444444;
    height: 86%;
    width: 53%;
    border-left: 4px solid #000000;
    border-right: 4px solid #000000;
    top: 9%;
    left: 34%;
}
.post_photo {
    position:absolute;
    left: 5%;
    width: 40%;
    top: 2%;
}
.profile_avatar {
    position: relative;
    border-radius: 50%;
    border: 6px solid #000000;
    left: 25%;
    width: 50%;
    top: 2%;
}
.accountInfo {
    position: relative;
    left: 25%;
    top: 2%;
}
.accountInfo.question {
    left: 20%;
    top: 0%;
}
.footer {
    position: fixed;
    background: #444444;
    height: 5%;
    width: 100%;
    border: 4px solid #000000;
    top: 94%;
    left: 0%;
}
h2 {
    color: #FFFFFF;
    font-size: 145%;
    font-weight: bold;
    text-align: center;
    margin-top: 0.5%;
}
.infomain1 {
    position: absolute;
    background: #444444;
    height: 86%;
    width: 30%;
    border-left: 4px solid #000000;
    top: 9%;
    left: 15%;
}
.infomain2 {
    position: absolute;
    background: #444444;
    height: 86%;
    width: 40%;
    border-right: 4px solid #000000;
    top: 9%;
    left: 45%;
}
.infoPhoto {
    position: relative;
    border-radius: 1em;
    left: 4%;
    width: 90%;
    top: 2%;
}
.description {
    font-weight: bold;
    margin-left: 4%;
    top: 10%;
}
.descriptionBlock {
    position: relative;
    background: #c0c0c0;
    border-radius: 1em;
    height: 86%;
    width: 90%;
    border: 6px solid #606060;
    top: 5%;
    left: 5%;
}
.toMainInfoButton {
    cursor: pointer;
    position: absolute;
    border: solid #444444;
    background: #444444;
    border-radius: 1em;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
    text-align: center;
    width: 40%;
    left: 30%;
    bottom: 10%;
}
.toMainInfoButton:hover {
    background: #606060;
}
.system {
    position: relative;
    margin-left: 4%;
    top: 3%;
}
.systemBlock {
    position: relative;
    background: #444444;
    height: 86%;
    width: 90%;
    top: 5%;
    left: 5%;
}
.main4 {
    position: absolute;
    background: #444444;
    height: 86%;
    width: 70%;
    border-left: 4px solid #000000;
    border-right: 4px solid #000000;
    top: 9%;
    left: 15%;
}
h3 {
    color: #FFFFFF;
    font-size: 250%;
    font-weight: bold;
    text-align: center;
    margin-top: 10%;
}
h4 {
    color: #FF0000;
    font-size: 145%;
    font-weight: bold;
    text-align: center;
}
#errorField {
    position: absolute;
    background: #444444;
    width: 70%;
    left: 15%;
}
#errorField2 {
    position: absolute;
    background: #444444;
    width: 40%;
    left: 5%;
    top: 60%;
}
#email {
    position: absolute;
    left: 35%;
    top: 30%;
    width: 35%;
    border: none;
    padding: 0.5%;
    outline: none;
    box-sizing: border-box;
    border-radius: 10px;
}
#login {
    position: absolute;
    left: 35%;
    top: 40%;
    width: 35%;
    border: none;
    padding: 0.5%;
    outline: none;
    box-sizing: border-box;
    border-radius: 10px;
}
#password {
    position: absolute;
    left: 35%;
    top: 50%;
    width: 35%;
    border: none;
    padding: 0.5%;
    outline: none;
    box-sizing: border-box;
    border-radius: 10px;
}
#emailText {
    position: absolute;
    left: 25%;
    top: 30%;
}

#loginText {
    position: absolute;
    left: 25%;
    top: 40%;
}

#passwordText {
    position: absolute;
    left: 25%;
    top: 50%;
}
p5 {
    font-size: 145%;
    color: #d6d6d6;
}
p6 {
    font-size: 145%;
    color: #0094FF;
}
#registration {
    position: absolute;
    background: #606060;
    left: 43%;
    top: 60%;
    height: 5%;
    width: 20%;
}
#regText {
    position: absolute;
    left: 20%;
    top: 70%;
}
#enterAsUser {
    position: absolute;
    left: 43%;
    top: 70%;
}
#regAsUser {
    position: absolute;
    left: 46%;
    top: 70%;
}
#guestText {
    position: absolute;
    left: 20%;
    top: 80%;
}
#enterAsGuest {
    position: absolute;
    left: 24.5%;
    top: 80%;
}
.logOutButton {
    cursor: pointer;
    position: relative;
    border: solid #444444;
    background: #606060;
    border-radius: 1em;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
    text-align: center;
    width: 30%;
    left: 35%;
    margin-top: 5%;
}
.inputProfileAvatar {
    position: relative;
    left: 20%;
    margin-top: 4%;
    width: 14.5%;
}
.photoText {
    position: absolute;
    left: 5%;
    top: 55%;
}
.inputPhoto {
    position: absolute;
    left: 25%;
    width: 14.5%;
    top: 55%;
}
.addPhotoBlock {
    position: absolute;
    background: #c0c0c0;
    border-radius: 1em;
    height: 15%;
    width: 40%;
    border: 6px solid #606060;
    top: 5%;
    left: 55%;
}
.addPostText1{
    position:absolute;
    left: 55%;
    top: 25%;
}
.addPostText2 {
    position: absolute;
    left: 55%;
    top: 35%;
}
.addPostText3 {
    position: absolute;
    left: 55%;
    top: 45%;
}
.addPostText4 {
    position: absolute;
    left: 55%;
    top: 55%;
}
.addPostText5 {
    position: absolute;
    left: 55%;
    top: 76%;
}
.postName {
    position: absolute;
    left: 55%;
    top: 30%;
    width: 35%;
    border: none;
    padding: 0.5%;
    outline: none;
    box-sizing: border-box;
    border-radius: 10px;
}
.postBirthYear {
    position: absolute;
    left: 55%;
    top: 40%;
    width: 35%;
    border: none;
    padding: 0.5%;
    outline: none;
    box-sizing: border-box;
    border-radius: 10px;
}
.postCountry {
    position: absolute;
    left: 55%;
    top: 50%;
    width: 35%;
    border: none;
    padding: 0.5%;
    outline: none;
    box-sizing: border-box;
    border-radius: 10px;
}
.postDescription {
    position: absolute;
    left: 55%;
    top: 60%;
    width: 35%;
    height: 15%;
    border: none;
    padding: 0.5%;
    outline: none;
    box-sizing: border-box;
    border-radius: 10px;
}
.postHashTags {
    position: absolute;
    left: 55%;
    top: 81%;
    width: 35%;
    height: 10%;
    border: none;
    padding: 0.5%;
    outline: none;
    box-sizing: border-box;
    border-radius: 10px;
}
.createPostButton {
    cursor: pointer;
    position: absolute;
    border: solid #444444;
    background: #444444;
    border-radius: 1em;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
    text-align: center;
    width: 30%;
    left: 5%;
    top: 85%;
}
.createPostButton:hover {
    background: #606060;
}
.delete {
    position: relative;
    cursor: pointer;
    margin-top: 6%;
    margin-left: 20%;
    visibility: hidden;
}
.edit {
    position: relative;
    cursor: pointer;
    margin-top: 6%;
    margin-left: 20%;
    visibility: hidden;
}
#findByKeyword {
    position: absolute;
    left: 5%;
    top: 80%;
    border: none;
    background-image: url('pictures/searcher_mark.png');
    background-repeat: no-repeat;
    background-position: 8px 5px;
    width: 80%;
    font-size: 87%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 30px;
    outline: none;
    box-sizing: border-box;
    border-radius: 10px;
}
.keywordText {
    position: relative;
    top: 55%;
}


